directory: /media/pidrive/Music
library: /home/james/.config/beets/musiclibrary.blb

import:
    copy: yes
    move: no
    write: yes
    none_rec_action: asis
    bell: yes
    incremental: yes

plugins: lastgenre fetchart ftintitle mpdupdate smartplaylist random embedart replaygain lyrics hook importfeeds edit info

embedart:
    auto: yes

mpd:
    host: localhost
    port: 6600

replaygain:
    backend: gstreamer
    auto: yes
    overwrite: yes

convert:
    auto: no
    embed: yes
    no_convert: format:FLAC
    never_convert_lossy_files: yes
    delete_originals: no
    format: flac

lyrics:
    auto: yes
    sources: lrclib
    synced: yes

hook:
    hooks:
      - event: cli_exit
        command: tput bel

importfeeds:
    formats: m3u_session
    dir: /media/pidrive/Playlists/
    relative_to: /media/pidrive/Music/
    m3u_name: Added_

paths:
    # default: $albumartist/($year) $album%aunique{}/$track $title
    nosync:1: NoSync/$albumartist/($year) $album%aunique{}/$track $title
