// Config for laptop with puny 1366x768 screen res
input {
    touchpad {
        // tap
        // tap-button-map "left-middle-right"
        dwt // Disable when typing
        // dwtp // Disable when trackpointing
        natural-scroll
        scroll-factor 1.0
        // accel-speed 0.2
        accel-profile "flat"
    }
}

layout {
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    gaps 4
    struts {
        left 10
        right 10
    }
    tab-indicator {
        gap 4
        width 4
        gaps-between-tabs 2
        corner-radius 2
    }
}

binds {
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "-d" "intel_backlight" "s" "+10%";
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "-d" "intel_backlight" "s" "10%-";
    }
}

spawn-at-startup "zen-browser"
spawn-at-startup "ghostty"
