* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode, FontAwesome, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(7, 15, 28, 0.5);
    border-bottom: 4px solid rgba(14, 8, 7, 0.5);
    color: #e0d9c7;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #E0D9C7;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #E0D9C7;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #4C566A;
    box-shadow: inset 0 -3px #E0D9C7;
}

#workspaces button.urgent {
    background-color: #BF616A;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#tray,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #E0D9C7;
    background-color: rgba(36, 41, 51, 0.0);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-bottom: 4px solid #E0D9C7;
}

#window {
    border-bottom: 4px solid #EBCB8B;
}

#battery {
    border-bottom: 4px solid #EBCB8B;
}

@keyframes blink {
    to {
        background-color: #E0D9C7;
        color: #242933;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #B74E58;
    color: #E0D9C7;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #242933;
}

#cpu {
    border-bottom: 4px solid #81A1C1;
}

#memory {
    border-bottom: 4px solid #8FBCBB;
}

#disk {
    border-bottom: 4px solid #D08770;
}

#backlight {
    border-bottom: 4px solid #ECEFF4;
}

#network {
    border-bottom: 4px solid #A3BE8C;
}

#network.disconnected {
    border-bottom: #B74E58;
}

#wireplumber {
    border-bottom: 4px solid #B38EAD;
}

#wireplumber.muted {
    border-bottom: 4px solid #A97EA1;
}

#temperature {
    border-bottom: 4px solid #BF616A;
}

#temperature.critical {
    border-bottom: 4px solid #B74E58;
}

#tray {
    background-color: #81A1C1;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #BF616A;
}

#idle_inhibitor {
    border-bottom: 4px solid #4C566A;
}

#idle_inhibitor.activated {
    border-bottom: 4px solid #60728A;
}

#mpd {
    border-bottom: 4px solid #EBCB8B;
}

#mpd.disconnected {
    border-bottom: 4px solid #EBCB8B;
}

#mpd.stopped {
    border-bottom: 4px solid #EBCB8B;
}

#mpd.paused {
    border-bottom: 4px solid #EBCB8B;
}

