* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode, FontAwesome, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(5, 40, 57, 0.5);
    border-bottom: 4px solid rgba(6, 16, 30, 0.5);
    color: #e0d9c7;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #E2D9C5;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#tray,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: #E2D9C5;
    background-color: rgba(5, 40, 57, 0.0);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    border-bottom: 4px solid #66DEF9;
}

#window {
    border-bottom: 4px solid #22536F;
}

#battery {
    border-bottom: 4px solid #35B5FF;
}

@keyframes blink {
    to {
        background-color: #E2D9C5;
        color: #06364B;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #F53424;
    color: #E2D9C5;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #06364B;
}

#cpu {
    border-bottom: 4px solid #B21368;
}

#memory {
    border-bottom: 4px solid #47EA68;
}

#disk {
    border-bottom: 4px solid #D08770;
}

#backlight {
    border-bottom: 4px solid #ECEFF4;
}

#network {
    border-bottom: 4px solid #B2F85D;
}

#network.disconnected {
    border-bottom: #F53424;
}

#wireplumber {
    border-bottom: 4px solid #008DA3;
}

#wireplumber.muted {
    border-bottom: 4px solid #004752;
}

#temperature {
    border-bottom: 4px solid #FD5E3A;
}

#temperature.critical {
    border-bottom: 4px solid #F53424;
}

#tray {
    background-color: #F53424;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #B21368;
}

#idle_inhibitor {
    border-bottom: 4px solid #F53424;
}

#idle_inhibitor.activated {
    border-bottom: 4px solid #B2F85D;
}

#mpd {
    border-bottom: 4px solid #EBCB8B;
}

#mpd.disconnected {
    border-bottom: 4px solid #EBCB8B;
}

#mpd.stopped {
    border-bottom: 4px solid #EBCB8B;
}

#mpd.paused {
    border-bottom: 4px solid #EBCB8B;
}

