* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode, FontAwesome, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(40, 44, 52, 0.5);
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
    color: #abb2bf;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #abb2bf;
}
*/

window#waybar.termite {
    background-color: #5c6370;
}

window#waybar.chromium {
    background-color: #282c34;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #abb2bf;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #abb2bf;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #5c6370;
    box-shadow: inset 0 -3px #abb2bf;
}

#workspaces button.urgent {
    background-color: #ef596f;
}

#mode {
    background-color: #5c6370;
    border-bottom: 4px solid #abb2bf;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #abb2bf;
    background-color: rgba(40, 44, 52, 0.0);
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-activewindow {
    /*border-bottom: 4px solid linear-gradient(to right, #2bbac5, #89ca78);*/
    border-bottom: 4px solid #2bbac5;
}

#clock {
    border-bottom: 4px solid #abb2bf;
}

#battery {
    background-color: #abb2bf;
}

#battery.charging, #battery.plugged {
    background-color: #89ca78;
}

@keyframes blink {
    to {
        background-color: #abb2bf;
        color: #282c34;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #ef596f;
    color: #abb2bf;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282c34;
}

#cpu {
    border-bottom: 4px solid #61afef;
}

#memory {
    border-bottom: 4px solid #2bbac5;
}

#disk {
    border-bottom: 4px solid #d19a66;
}

#backlight {
    border-bottom: 4px solid #90b1b1;
}

#network {
    border-bottom: 4px solid #89ca78;
}

#network.disconnected {
    border-bottom: #ef596f;
}

#pulseaudio {
    border-bottom: 4px solid #d55fde;
}

#pulseaudio.muted {
    border-bottom: 4px solid #d55fde;
}

#wireplumber {
    border-bottom: 4px solid #d55fde;
}

#wireplumber.muted {
    border-bottom: 4px solid #d55fde;
}

#custom-media {
    background-color: #109868;
    color: #ffffff;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    border-bottom: 4px solid #ef596f;
}

#temperature.critical {
    border-bottom: 4px solid #9a353d;
}

#tray {
    background-color: #61afef;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ef596f;
}

#idle_inhibitor {
    border-bottom: 4px solid #5c6370;
}

#idle_inhibitor.activated {
    border-bottom: 4px solid #8fc6f4;
}

#mpd {
    border-bottom: 4px solid #e5c07b;
}

#mpd.disconnected {
    border-bottom: 4px solid #e5c07b;
}

#mpd.stopped {
    border-bottom: 4px solid #e5c07b;
}

#mpd.paused {
    border-bottom: 4px solid #e5c07b;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #282c34;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
