[Unit]
Description=Stasis Wayland Idle Manager
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.cargo/bin/stasis
Restart=always
RestartSec=5
Environment=WAYLAND_DISPLAY=wayland-1
; ExecStartPre=/bin/sh -c 'while [ ! -e /run/user/%U/wayland-1 ]; do sleep 0.1; done'

[Install]
WantedBy=default.target
