#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    // address: "127.0.0.1:6600", // Use $MPD_HOST
    theme: Some("Nordic"),
    cache_dir: None,
    on_song_change: None,
    volume_step: 5, // %
    status_update_interval_ms: 500, // ms
    select_current_song_on_change: false,
    album_art: (
        method: Kitty,
        max_size_px: (width: 0, height: 0),
    ),
    keybinds: (
        global: {
            ":":       CommandMode,
            ",":       VolumeDown,
            ".":       VolumeUp,
            "s":       Stop,
            "<Tab>":   NextTab,
            "<S-Tab>": PreviousTab,
            "1":       SwitchToTab("Queue"),
            "2":       SwitchToTab("Album Artists"),
            "3":       SwitchToTab("Playlists"),
            "4":       SwitchToTab("Search"),
            "5":       SwitchToTab("Lyrics"),
            "6":       SwitchToTab("Directories"),
            "q":       Quit,
            ">":       NextTrack,
            "<":       PreviousTrack,
            "f":       SeekForward,
            "b":       SeekBack,
            "c":       ToggleSingle,
            "x":       ToggleRandom,
            "v":       ToggleConsume,
            "p":       TogglePause,
            "z":       ToggleRepeat,
            "~":       ShowHelp,
            "O":       ShowOutputs,
        },
        navigation: {
            "k":       Up,
            "j":       Down,
            "h":       Left,
            "l":       Right,
            "<Up>":    Up,
            "<Down>":  Down,
            "<Left>":  Left,
            "<Right>": Right,
            "<PageUp>": PageUp,
            "<PageDown>": PageDown,
            "<C-k>":   PaneUp,
            "<C-j>":   PaneDown,
            "<C-h>":   PaneLeft,
            "<C-l>":   PaneRight,
            "<C-u>":   UpHalf,
            "<C-d>":   DownHalf,
            "a":       Add,
            "A":       AddReplace,
            "I":       Insert,
            "r":       Rename,
            "n":       NextResult,
            "N":       PreviousResult,
            "<Space>": Select,
            "<CR>":    Confirm,
            "i":       ShowInfo,
            "g":       Top,
            "K":       MoveUp,
            "J":       MoveDown,
            "G":       Bottom,
            "/":       EnterSearch,
            "<C-c>":   Close,
            "<Esc>":   Close,
            "D":       Delete,
        },
        queue: {
            "<CR>":    Play,
            "<C-s>":   Save,
            "a":       AddToPlaylist,
            "d":       Delete,
            "D":       DeleteAll,
        },
    ),
    search: (
        case_sensitive: false,
        mode: Contains,
        tags: [
            (value: "any",         label: "Any Tag"),
            (value: "artist",      label: "Artist"),
            (value: "album",       label: "Album"),
            (value: "albumartist", label: "Album Artist"),
            (value: "title",       label: "Title"),
            (value: "filename",    label: "Filename"),
            (value: "genre",       label: "Genre"),
        ],
    ),
    tabs: [
        (
            name: "Queue",
            border_type: None,
            pane: Split(
                direction: Horizontal,
                panes: [(size: "40%", pane: Pane(AlbumArt)), (size: "60%", pane: Pane(Queue))],
            ),
        ),
        (
            name: "Album Artists",
            border_type: None,
            pane: Pane(AlbumArtists),
        ),
        (
            name: "Playlists",
            border_type: None,
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            border_type: None,
            pane: Pane(Search),
        ),
        (
            name: "Directories",
            border_type: None,
            pane: Pane(Directories),
        ),
    ],
)

